.root {
-fx-background-color: "GRAY";
}

.button, #content {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#444444, #777777);
    -fx-border-color: white;
    -fx-border-width: 1;
}
.button:hover {
    -fx-background-color: linear-gradient(#777777, #444444);
}

#scoreList{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#mainText{
    -fx-font-size: 40px;
    -fx-font-family: "Arial Black";
}

#sblabel, #psLabel{
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
}

#welcomelabel {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
}

#labelText{
    -fx-text-fill: red;
    -fx-font-size: 50px;
}

